<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>

	<h1>Register</h1>
	<form method="post" th:action="@{/register}">
		<label>Username: </label>
		<input name="username" />
		
		<label>Password: </label>
		<input name="password123"/>
		
		<label>Name: </label>
		<input name="name"/>
		
		<label>Role: </label>
		<input type="radio" name="role" value="ROLE_ADMIN"/>ADMIN
		<input type="radio" name="role" value="ROLE_MEMBER"/>MEMBER
		
		<label>idNumber</label>
		<input name="idNumber">
		
         <label>Date</label>
         <input name="date">
		
		<button type="submit">Register</button>
	</form>

</body>
</html>