<!DOCTYPE html>
<html layout:decorator="template">
<head>
<meta charset="UTF-8">
<title>Search Category</title>
</head>
<body layout:fragment="content">	
	<h1>Category</h1>	
	<form method="get" th:action="@{/admin/searchcate}">
		<input name="name">
		<button type="submit">Search</button>
	</form>
	
	<table border="1">
	<tr>
		<th>ID</th>
		<th>Name</th>		
	</tr>	
			<tr th:each="category : ${cList}">
				<td th:text="${category.id}"></td>
			    <td th:text="${category.getName()}"></td>
				<td>
					<a th:href="@{'/admin/category/deletecate?id='+ ${category.id} }"> Xoa </a>
					<a th:href="@{'/admin/category/editcate?id=' + ${category.id} }"> Sua </a>
				</td>
			</tr>		
	</table>
</body>
</html>